- content_for :title do
  Final

%h2 Index Card Exercise

.card-links
  = link_to 'Source', controller: 'pages', action: 'index'
  %span &#124;
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'All Cards', all_cards_path
  %span &#124;
  = link_to 'Sans Rejects', sans_rejects_path
  %span &#124;
  Final

.card-legend
  .color-1 Mobile
  .color-2 Desktop

.cards
  = image_tag 'cards/mobile (1).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (2).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (3).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (4).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (5).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (6).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (7).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (8).jpg', class: 'mobile-cards'
  = image_tag 'cards/desktop (1).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (2).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (3).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (4).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (5).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (6).jpg', class: 'desktop-cards'
  = image_tag 'cards/mobile (9).jpg', class: 'mobile-cards'
