- content_for :title do
  Home

%h2 Index Card Exercise

.card-links
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'All Cards', all_cards_path
  %span &#124;
  = link_to 'Sans Rejects', sans_rejects_path
  %span &#124;
  = link_to 'Sans Borderline', sans_borderline_path
  %span &#124;
  Final

.card-legend
  .color-1 Mobile

.cards.mobile
  = image_tag 'cards/mobile (1).jpg'
  = image_tag 'cards/mobile (2).jpg'
  = image_tag 'cards/mobile (3).jpg'
  = image_tag 'cards/mobile (4).jpg'
  = image_tag 'cards/mobile (5).jpg'
  = image_tag 'cards/mobile (6).jpg'
  = image_tag 'cards/mobile (7).jpg'
  = image_tag 'cards/mobile (8).jpg'
  = image_tag 'cards/mobile (9).jpg'
