- content_for :title do
  Home

.card-links
  = link_to 'Version 1', home_v1_path
  %span &#124;
  = link_to 'Version 2', home_v2_path
  %span &#124;
  Version 3
  %span &#124;
  = link_to 'Version 4', home_v4_path
  %span &#124;
  = link_to 'Navigation', navigation_path

.card-legend
  .color-1 Mobile
  .color-2 Desktop

.cards
  = image_tag 'cards/mobile (1).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (2).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (3).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (4).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (5).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (6).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (7).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (8).jpg', class: 'mobile-cards'
  = image_tag 'cards/desktop (1).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (2).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (3).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (4).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (5).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (6).jpg', class: 'desktop-cards'
  = image_tag 'cards/mobile (9).jpg', class: 'mobile-cards'
