- content_for :title do
  Home

.card-links
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'Version 1', home_v1_path
  %span &#124;
  = link_to 'Version 2', home_v2_path
  %span &#124;
  = link_to 'Version 3', home_v3_path
  %span &#124;
  Version 4

.card-legend
  .color-1 Mobile

.cards.mobile
  = image_tag 'cards/mobile (1).jpg'
  = image_tag 'cards/mobile (2).jpg'
  = image_tag 'cards/mobile (3).jpg'
  = image_tag 'cards/mobile (4).jpg'
  = image_tag 'cards/mobile (5).jpg'
  = image_tag 'cards/mobile (6).jpg'
  = image_tag 'cards/mobile (7).jpg'
  = image_tag 'cards/mobile (8).jpg'
  = image_tag 'cards/mobile (9).jpg'
