- content_for :title do
  Home

.card-links
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'Version 1', home_v1_path
  %span &#124;
  Version 2
  %span &#124;
  = link_to 'Version 3', home_v3_path

.card-legend
  .color-1 Mobile
  .color-2 Desktop
  .color-3 Borderline

.cards
  = image_tag 'cards/mobile (1).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (2).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (3).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (4).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (5).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (6).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (7).jpg', class: 'mobile-cards'
  = image_tag 'cards/mobile (8).jpg', class: 'mobile-cards'
  = image_tag 'cards/desktop (1).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (2).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (3).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (4).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (5).jpg', class: 'desktop-cards'
  = image_tag 'cards/desktop (6).jpg', class: 'desktop-cards'
  = image_tag 'cards/rejects (1).jpg', class: 'borderline'
  = image_tag 'cards/rejects (2).jpg', class: 'borderline'
  = image_tag 'cards/rejects (3).jpg', class: 'borderline'
  = image_tag 'cards/rejects (4).jpg', class: 'borderline'
  = image_tag 'cards/mobile (9).jpg', class: 'mobile-cards'
