- content_for :title do
  Home
- content_for :description_tag do
  Index card excercise results.

%h2 Index Card Exercise

.card-links
  = link_to 'Navigation', navigation_path
  %span &#124;
  = link_to 'All Cards', all_cards_path
  %span &#124;
  = link_to 'Sans Rejects', sans_rejects_path
  %span &#124;
  = link_to 'Sans Borderline', sans_borderline_path
  %span &#124;
  = link_to 'Final', sans_borderline_path

.card-legend
  .color-1 Mobile
  .color-2 Desktop
  .color-3 Borderline
  .color-4 Rejects

%h2 Source Websites
%ul
  %li= link_to 'http://www.appacademy.io', 'http://www.appacademy.io', title: ''
  %li= link_to 'https://www.bloc.io', 'https://www.bloc.io', title: ''
  %li= link_to 'http://devbootcamp.com', 'http://devbootcamp.com', title: ''
  %li= link_to 'http://flatironschool.com', 'http://flatironschool.com', title: ''
  %li= link_to 'http://www.hackreactor.com', 'http://www.hackreactor.com', title: ''
  %li= link_to 'http://hackeryou.com', 'http://hackeryou.com', title: ''
  %li= link_to 'https://launchacademy.co', 'https://launchacademy.co', title: ''
  %li= link_to 'https://launchschool.com', 'https://launchschool.com', title: ''
  %li= link_to 'http://www.thefirehoseproject.com', 'http://www.thefirehoseproject.com', title: ''
  %li= link_to 'http://www.starterleague.com', 'http://www.starterleague.com', title: ''
  %li= link_to 'http://wyncode.co', 'http://wyncode.co', title: ''
  %li= link_to 'https://www.ironhack.com/en', 'https://www.ironhack.com/en', title: ''
