- content_for :title do
  Home

%h2 Index Card Exercise

.card-links
  = link_to 'Source', controller: 'pages', action: 'index'
  %span &#124;
  Navigation
  %span &#124;
  = link_to 'All Cards', all_cards_path
  %span &#124;
  = link_to 'Sans Rejects', sans_rejects_path
  %span &#124;
  = link_to 'Sans Borderline', sans_borderline_path
  %span &#124;
  = link_to 'Final', final_path

.card-legend
  .color-1 Mobile

.cards
  = image_tag 'cards/navigation/mobile (1).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (2).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (3).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (4).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (5).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (6).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (7).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (8).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (9).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (10).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (11).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (12).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (13).jpg', class: 'mobile-cards'
