- content_for :title do
  Home

.card-links
  Navigation
  %span &#124;
  = link_to 'Version 1', home_v1_path
  %span &#124;
  = link_to 'Version 2', home_v2_path
  %span &#124;
  = link_to 'Version 3', home_v3_path
  %span &#124;
  = link_to 'Version 4', home_v4_path

.cards
  = image_tag 'cards/navigation/mobile (1).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (2).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (3).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (4).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (5).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (6).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (7).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (8).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (9).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (10).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (11).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (12).jpg', class: 'mobile-cards'
  = image_tag 'cards/navigation/mobile (13).jpg', class: 'mobile-cards'
