- content_for :title do
  Gallery
- content_for :description_tag do
  Images available for website design.

.gallery
  %section= link_to 'Dashboard', dev_path, class: 'dev-link'

  %section
    %h2 Image Gallery
    %h3 Our Building
    .lightgallery
      = link_to root_url+'florida/fl (54).JPG' do
        = image_tag root_url+'florida/200/fl (54).jpg'
      = link_to root_url+'florida/fl (55).JPG' do
        = image_tag root_url+'florida/200/fl (55).jpg'
      = link_to root_url+'florida/fl (56).JPG' do
        = image_tag root_url+'florida/200/fl (56).jpg'
      = link_to root_url+'florida/fl (57).JPG' do
        = image_tag root_url+'florida/200/fl (57).jpg'
      = link_to root_url+'florida/fl (58).JPG' do
        = image_tag root_url+'florida/200/fl (58).jpg'
      = link_to root_url+'florida/fl (59).JPG' do
        = image_tag root_url+'florida/200/fl (59).jpg'
      = link_to root_url+'florida/fl (60).JPG' do
        = image_tag root_url+'florida/200/fl (60).jpg'
      = link_to root_url+'florida/fl (70).JPG' do
        = image_tag root_url+'florida/200/fl (70).jpg'
      = link_to root_url+'florida/fl (71).JPG' do
        = image_tag root_url+'florida/200/fl (71).jpg'
      = link_to root_url+'florida/fl (72).JPG' do
        = image_tag root_url+'florida/200/fl (72).jpg'
      = link_to root_url+'florida/fl (73).JPG' do
        = image_tag root_url+'florida/200/fl (73).jpg'
      = link_to root_url+'florida/fl (74).JPG' do
        = image_tag root_url+'florida/200/fl (74).jpg'
      = link_to root_url+'florida/fl (75).JPG' do
        = image_tag root_url+'florida/200/fl (75).jpg'
      = link_to root_url+'florida/fl (76).JPG' do
        = image_tag root_url+'florida/200/fl (76).jpg'
      = link_to root_url+'florida/fl (77).JPG' do
        = image_tag root_url+'florida/200/fl (77).jpg'
      = link_to root_url+'florida/fl (78).JPG' do
        = image_tag root_url+'florida/200/fl (78).jpg'
      = link_to root_url+'florida/fl (79).JPG' do
        = image_tag root_url+'florida/200/fl (79).jpg'
      = link_to root_url+'florida/fl (80).JPG' do
        = image_tag root_url+'florida/200/fl (80).jpg'
      = link_to root_url+'florida/fl (81).JPG' do
        = image_tag root_url+'florida/200/fl (81).jpg'
      = link_to root_url+'florida/fl (82).JPG' do
        = image_tag root_url+'florida/200/fl (82).jpg'
      = link_to root_url+'florida/fl (83).JPG' do
        = image_tag root_url+'florida/200/fl (83).jpg'
      = link_to root_url+'florida/fl (84).JPG' do
        = image_tag root_url+'florida/200/fl (84).jpg'
      = link_to root_url+'florida/fl (85).JPG' do
        = image_tag root_url+'florida/200/fl (85).jpg'
      = link_to root_url+'florida/fl (86).JPG' do
        = image_tag root_url+'florida/200/fl (86).jpg'

    %h3 West Palm Beach &mdash; Within 10 minutes of our office
    .lightgallery
      = link_to root_url+'florida/fl (87).JPG' do
        = image_tag root_url+'florida/200/fl (87).jpg'
      = link_to root_url+'florida/fl (88).JPG' do
        = image_tag root_url+'florida/200/fl (88).jpg'
      = link_to root_url+'florida/fl (89).JPG' do
        = image_tag root_url+'florida/200/fl (89).jpg'
      = link_to root_url+'florida/fl (90).JPG' do
        = image_tag root_url+'florida/200/fl (90).jpg'
      = link_to root_url+'florida/fl (91).JPG' do
        = image_tag root_url+'florida/200/fl (91).jpg'
      = link_to root_url+'florida/fl (92).JPG' do
        = image_tag root_url+'florida/200/fl (92).jpg'
      = link_to root_url+'florida/fl (93).JPG' do
        = image_tag root_url+'florida/200/fl (93).jpg'
      = link_to root_url+'florida/fl (94).JPG' do
        = image_tag root_url+'florida/200/fl (94).jpg'
      = link_to root_url+'florida/fl (95).JPG' do
        = image_tag root_url+'florida/200/fl (95).jpg'
      = link_to root_url+'florida/fl (96).JPG' do
        = image_tag root_url+'florida/200/fl (96).jpg'
      = link_to root_url+'florida/fl (97).JPG' do
        = image_tag root_url+'florida/200/fl (97).jpg'
      = link_to root_url+'florida/fl (98).JPG' do
        = image_tag root_url+'florida/200/fl (98).jpg'
      = link_to root_url+'florida/fl (99).JPG' do
        = image_tag root_url+'florida/200/fl (99).jpg'
      = link_to root_url+'florida/fl (100).JPG' do
        = image_tag root_url+'florida/200/fl (100).jpg'
      = link_to root_url+'florida/fl (101).JPG' do
        = image_tag root_url+'florida/200/fl (101).jpg'
      = link_to root_url+'florida/fl (102).JPG' do
        = image_tag root_url+'florida/200/fl (102).jpg'
      = link_to root_url+'florida/fl (103).JPG' do
        = image_tag root_url+'florida/200/fl (103).jpg'
      = link_to root_url+'florida/fl (104).JPG' do
        = image_tag root_url+'florida/200/fl (104).jpg'
      = link_to root_url+'florida/fl (105).JPG' do
        = image_tag root_url+'florida/200/fl (105).jpg'
      = link_to root_url+'florida/fl (106).JPG' do
        = image_tag root_url+'florida/200/fl (106).jpg'
      = link_to root_url+'florida/fl (107).JPG' do
        = image_tag root_url+'florida/200/fl (107).jpg'
      = link_to root_url+'florida/fl (108).JPG' do
        = image_tag root_url+'florida/200/fl (108).jpg'
      = link_to root_url+'florida/fl (109).JPG' do
        = image_tag root_url+'florida/200/fl (109).jpg'
      = link_to root_url+'florida/fl (110).JPG' do
        = image_tag root_url+'florida/200/fl (110).jpg'
      = link_to root_url+'florida/fl (111).JPG' do
        = image_tag root_url+'florida/200/fl (111).jpg'
      = link_to root_url+'florida/fl (112).JPG' do
        = image_tag root_url+'florida/200/fl (112).jpg'
      = link_to root_url+'florida/fl (113).JPG' do
        = image_tag root_url+'florida/200/fl (113).jpg'
      = link_to root_url+'florida/fl (114).JPG' do
        = image_tag root_url+'florida/200/fl (114).jpg'
      = link_to root_url+'florida/fl (115).JPG' do
        = image_tag root_url+'florida/200/fl (115).jpg'
      = link_to root_url+'florida/fl (116).JPG' do
        = image_tag root_url+'florida/200/fl (116).jpg'
      = link_to root_url+'florida/fl (117).JPG' do
        = image_tag root_url+'florida/200/fl (117).jpg'
      = link_to root_url+'florida/fl (118).JPG' do
        = image_tag root_url+'florida/200/fl (118).jpg'
      = link_to root_url+'florida/fl (119).JPG' do
        = image_tag root_url+'florida/200/fl (119).jpg'
      = link_to root_url+'florida/fl (120).JPG' do
        = image_tag root_url+'florida/200/fl (120).jpg'
      = link_to root_url+'florida/fl (121).JPG' do
        = image_tag root_url+'florida/200/fl (121).jpg'
      = link_to root_url+'florida/fl (122).JPG' do
        = image_tag root_url+'florida/200/fl (122).jpg'
      = link_to root_url+'florida/fl (123).JPG' do
        = image_tag root_url+'florida/200/fl (123).jpg'
      = link_to root_url+'florida/fl (124).JPG' do
        = image_tag root_url+'florida/200/fl (124).jpg'
      = link_to root_url+'florida/fl (125).JPG' do
        = image_tag root_url+'florida/200/fl (125).jpg'
      = link_to root_url+'florida/fl (126).JPG' do
        = image_tag root_url+'florida/200/fl (126).jpg'
      = link_to root_url+'florida/fl (127).JPG' do
        = image_tag root_url+'florida/200/fl (127).jpg'
      = link_to root_url+'florida/fl (128).JPG' do
        = image_tag root_url+'florida/200/fl (128).jpg'
      = link_to root_url+'florida/fl (129).JPG' do
        = image_tag root_url+'florida/200/fl (129).jpg'
      = link_to root_url+'florida/fl (130).JPG' do
        = image_tag root_url+'florida/200/fl (130).jpg'
      = link_to root_url+'florida/fl (131).JPG' do
        = image_tag root_url+'florida/200/fl (131).jpg'
      = link_to root_url+'florida/fl (132).JPG' do
        = image_tag root_url+'florida/200/fl (132).jpg'
      = link_to root_url+'florida/fl (133).JPG' do
        = image_tag root_url+'florida/200/fl (133).jpg'
      = link_to root_url+'florida/fl (134).JPG' do
        = image_tag root_url+'florida/200/fl (134).jpg'
      = link_to root_url+'florida/fl (135).JPG' do
        = image_tag root_url+'florida/200/fl (135).jpg'
      = link_to root_url+'florida/fl (136).JPG' do
        = image_tag root_url+'florida/200/fl (136).jpg'

    %h3 Florida &mdash; Within 1 hour of our office
    .lightgallery
      = link_to root_url+'florida/fl (180).JPG' do
        = image_tag root_url+'florida/200/fl (180).jpg'
      = link_to root_url+'florida/fl (179).JPG' do
        = image_tag root_url+'florida/200/fl (179).jpg'
      = link_to root_url+'florida/fl (181).JPG' do
        = image_tag root_url+'florida/200/fl (181).jpg'
      = link_to root_url+'florida/fl (182).JPG' do
        = image_tag root_url+'florida/200/fl (182).jpg'
      = link_to root_url+'florida/fl (183).JPG' do
        = image_tag root_url+'florida/200/fl (183).jpg'
      = link_to root_url+'florida/fl (137).JPG' do
        = image_tag root_url+'florida/200/fl (137).jpg'
      = link_to root_url+'florida/fl (138).JPG' do
        = image_tag root_url+'florida/200/fl (138).jpg'
      = link_to root_url+'florida/fl (139).JPG' do
        = image_tag root_url+'florida/200/fl (139).jpg'
      = link_to root_url+'florida/fl (140).JPG' do
        = image_tag root_url+'florida/200/fl (140).jpg'
      = link_to root_url+'florida/fl (141).JPG' do
        = image_tag root_url+'florida/200/fl (141).jpg'
      = link_to root_url+'florida/fl (142).JPG' do
        = image_tag root_url+'florida/200/fl (142).jpg'
      = link_to root_url+'florida/fl (170).JPG' do
        = image_tag root_url+'florida/200/fl (170).jpg'
      = link_to root_url+'florida/fl (171).JPG' do
        = image_tag root_url+'florida/200/fl (171).jpg'
      = link_to root_url+'florida/fl (172).JPG' do
        = image_tag root_url+'florida/200/fl (172).jpg'
      = link_to root_url+'florida/fl (173).JPG' do
        = image_tag root_url+'florida/200/fl (173).jpg'
      = link_to root_url+'florida/fl (174).JPG' do
        = image_tag root_url+'florida/200/fl (174).jpg'
      = link_to root_url+'florida/fl (43).JPG' do
        = image_tag root_url+'florida/200/fl (43).jpg'
      = link_to root_url+'florida/fl (44).JPG' do
        = image_tag root_url+'florida/200/fl (44).jpg'
      = link_to root_url+'florida/fl (45).JPG' do
        = image_tag root_url+'florida/200/fl (45).jpg'
      = link_to root_url+'florida/fl (46).JPG' do
        = image_tag root_url+'florida/200/fl (46).jpg'
      = link_to root_url+'florida/fl (158).JPG' do
        = image_tag root_url+'florida/200/fl (158).jpg'
      = link_to root_url+'florida/fl (50).JPG' do
        = image_tag root_url+'florida/200/fl (50).jpg'
      = link_to root_url+'florida/fl (47).JPG' do
        = image_tag root_url+'florida/200/fl (47).jpg'
      = link_to root_url+'florida/fl (48).JPG' do
        = image_tag root_url+'florida/200/fl (48).jpg'
      = link_to root_url+'florida/fl (49).JPG' do
        = image_tag root_url+'florida/200/fl (49).jpg'
      = link_to root_url+'florida/fl (1).JPG' do
        = image_tag root_url+'florida/200/fl (1).jpg'
      = link_to root_url+'florida/fl (2).JPG' do
        = image_tag root_url+'florida/200/fl (2).jpg'
      = link_to root_url+'florida/fl (3).JPG' do
        = image_tag root_url+'florida/200/fl (3).jpg'
      = link_to root_url+'florida/fl (4).JPG' do
        = image_tag root_url+'florida/200/fl (4).jpg'
      = link_to root_url+'florida/fl (5).JPG' do
        = image_tag root_url+'florida/200/fl (5).jpg'
      = link_to root_url+'florida/fl (6).JPG' do
        = image_tag root_url+'florida/200/fl (6).jpg'
      = link_to root_url+'florida/fl (7).JPG' do
        = image_tag root_url+'florida/200/fl (7).jpg'
      = link_to root_url+'florida/fl (8).JPG' do
        = image_tag root_url+'florida/200/fl (8).jpg'
      = link_to root_url+'florida/fl (143).JPG' do
        = image_tag root_url+'florida/200/fl (143).jpg'
      = link_to root_url+'florida/fl (144).JPG' do
        = image_tag root_url+'florida/200/fl (144).jpg'
      = link_to root_url+'florida/fl (145).JPG' do
        = image_tag root_url+'florida/200/fl (145).jpg'
      = link_to root_url+'florida/fl (146).JPG' do
        = image_tag root_url+'florida/200/fl (146).jpg'
      = link_to root_url+'florida/fl (147).JPG' do
        = image_tag root_url+'florida/200/fl (147).jpg'
      = link_to root_url+'florida/fl (148).JPG' do
        = image_tag root_url+'florida/200/fl (148).jpg'
      = link_to root_url+'florida/fl (149).JPG' do
        = image_tag root_url+'florida/200/fl (149).jpg'
      = link_to root_url+'florida/fl (150).JPG' do
        = image_tag root_url+'florida/200/fl (150).jpg'
      = link_to root_url+'florida/fl (151).JPG' do
        = image_tag root_url+'florida/200/fl (151).jpg'
      = link_to root_url+'florida/fl (152).JPG' do
        = image_tag root_url+'florida/200/fl (152).jpg'
      = link_to root_url+'florida/fl (153).JPG' do
        = image_tag root_url+'florida/200/fl (153).jpg'
      = link_to root_url+'florida/fl (154).JPG' do
        = image_tag root_url+'florida/200/fl (154).jpg'
      = link_to root_url+'florida/fl (155).JPG' do
        = image_tag root_url+'florida/200/fl (155).jpg'
      = link_to root_url+'florida/fl (156).JPG' do
        = image_tag root_url+'florida/200/fl (156).jpg'
      = link_to root_url+'florida/fl (157).JPG' do
        = image_tag root_url+'florida/200/fl (157).jpg'
      = link_to root_url+'florida/fl (159).JPG' do
        = image_tag root_url+'florida/200/fl (159).jpg'
      = link_to root_url+'florida/fl (160).JPG' do
        = image_tag root_url+'florida/200/fl (160).jpg'
      = link_to root_url+'florida/fl (9).JPG' do
        = image_tag root_url+'florida/200/fl (9).jpg'
      = link_to root_url+'florida/fl (11).JPG' do
        = image_tag root_url+'florida/200/fl (11).jpg'
      = link_to root_url+'florida/fl (13).JPG' do
        = image_tag root_url+'florida/200/fl (13).jpg'
      = link_to root_url+'florida/fl (14).JPG' do
        = image_tag root_url+'florida/200/fl (14).jpg'
      = link_to root_url+'florida/fl (15).JPG' do
        = image_tag root_url+'florida/200/fl (15).jpg'
      = link_to root_url+'florida/fl (16).JPG' do
        = image_tag root_url+'florida/200/fl (16).jpg'
      = link_to root_url+'florida/fl (17).JPG' do
        = image_tag root_url+'florida/200/fl (17).jpg'
      = link_to root_url+'florida/fl (20).JPG' do
        = image_tag root_url+'florida/200/fl (20).jpg'
      = link_to root_url+'florida/fl (21).JPG' do
        = image_tag root_url+'florida/200/fl (21).jpg'
      = link_to root_url+'florida/fl (22).JPG' do
        = image_tag root_url+'florida/200/fl (22).jpg'
      = link_to root_url+'florida/fl (23).JPG' do
        = image_tag root_url+'florida/200/fl (23).jpg'
      = link_to root_url+'florida/fl (24).JPG' do
        = image_tag root_url+'florida/200/fl (24).jpg'
      = link_to root_url+'florida/fl (27).JPG' do
        = image_tag root_url+'florida/200/fl (27).jpg'
      = link_to root_url+'florida/fl (28).JPG' do
        = image_tag root_url+'florida/200/fl (28).jpg'
      = link_to root_url+'florida/fl (29).JPG' do
        = image_tag root_url+'florida/200/fl (29).jpg'
      = link_to root_url+'florida/fl (30).JPG' do
        = image_tag root_url+'florida/200/fl (30).jpg'
      = link_to root_url+'florida/fl (175).JPG' do
        = image_tag root_url+'florida/200/fl (175).jpg'
      = link_to root_url+'florida/fl (176).JPG' do
        = image_tag root_url+'florida/200/fl (176).jpg'
      = link_to root_url+'florida/fl (177).JPG' do
        = image_tag root_url+'florida/200/fl (177).jpg'
      = link_to root_url+'florida/fl (178).JPG' do
        = image_tag root_url+'florida/200/fl (178).jpg'
      = link_to root_url+'florida/fl (31).JPG' do
        = image_tag root_url+'florida/200/fl (31).jpg'
      = link_to root_url+'florida/fl (32).JPG' do
        = image_tag root_url+'florida/200/fl (32).jpg'
      = link_to root_url+'florida/fl (33).JPG' do
        = image_tag root_url+'florida/200/fl (33).jpg'
      = link_to root_url+'florida/fl (34).JPG' do
        = image_tag root_url+'florida/200/fl (34).jpg'
      = link_to root_url+'florida/fl (35).JPG' do
        = image_tag root_url+'florida/200/fl (35).jpg'
      = link_to root_url+'florida/fl (36).JPG' do
        = image_tag root_url+'florida/200/fl (36).jpg'
      = link_to root_url+'florida/fl (37).JPG' do
        = image_tag root_url+'florida/200/fl (37).jpg'
      = link_to root_url+'florida/fl (38).JPG' do
        = image_tag root_url+'florida/200/fl (38).jpg'
      = link_to root_url+'florida/fl (39).JPG' do
        = image_tag root_url+'florida/200/fl (39).jpg'
      = link_to root_url+'florida/fl (40).JPG' do
        = image_tag root_url+'florida/200/fl (40).jpg'
      = link_to root_url+'florida/fl (41).JPG' do
        = image_tag root_url+'florida/200/fl (41).jpg'
      = link_to root_url+'florida/fl (42).JPG' do
        = image_tag root_url+'florida/200/fl (42).jpg'
      = link_to root_url+'florida/fl (51).JPG' do
        = image_tag root_url+'florida/200/fl (51).jpg'
      = link_to root_url+'florida/fl (52).JPG' do
        = image_tag root_url+'florida/200/fl (52).jpg'
      = link_to root_url+'florida/fl (53).JPG' do
        = image_tag root_url+'florida/200/fl (53).jpg'
