- content_for :title do
  Navigation

%section
  %h2 Index Card Exercise

  .card-links
    = link_to 'Dashboard', controller: 'pages', action: 'index'
    %span &#124;
    Navigation
    %span &#124;
    = link_to 'All Cards', all_cards_path
    %span &#124;
    = link_to 'Sans Rejects', sans_rejects_path
    %span &#124;
    = link_to 'Final', final_path

  .card-legend
    .color-1 Mobile
    .color-2 Desktop
    .color-4 Rejects

  .cards
    = image_tag 'cards/navigation/mobile (1).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (2).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (3).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (4).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (5).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (6).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (7).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (8).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (9).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (10).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (11).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (12).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/mobile (13).jpg', class: 'mobile-cards'
    = image_tag 'cards/navigation/desktop (1).jpg', class: 'desktop-cards'
    = image_tag 'cards/navigation/desktop (2).jpg', class: 'desktop-cards'
    = image_tag 'cards/navigation/desktop (3).jpg', class: 'desktop-cards'
    = image_tag 'cards/navigation/reject (1).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (2).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (3).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (4).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (5).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (6).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (7).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (8).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (9).jpg', class: 'reject-cards'
    = image_tag 'cards/navigation/reject (10).jpg', class: 'reject-cards'
