= form_for @message, url: { action: "create" }, html: { role: 'form', class: 'form' } do |f|
  = render 'shared/error_message'
  %fieldset
    %legend
      Start your journey, apply today...
    %ol
      %li
        .form-label= f.label :name, 'Your Full Name'
        .form-field= f.text_field :name, autofocus: true
      %li
        .form-label= f.label :email, 'Your Email'
        .form-field= f.text_field :email, type: "email", placeholder: 'email@example.com'
      %li
        .form-label= f.label :phone, 'Your Phone Number'
        .form-field= f.text_field :phone
      %li
        %p What program are you interested in?
        .form-radio
          = f.radio_button :program_choice, '1'
          = f.label :program_choice_1, safe_join(["Web Development Immersive &mdash; August 22 - October 28".html_safe])
        .form-radio
          = f.radio_button :program_choice, '2'
          = f.label :program_choice_2, safe_join(["Web Development Immersive &mdash; November 28 - February 10".html_safe])
        .form-radio
          = f.radio_button :program_choice, '3'
          = f.label :program_choice_3, safe_join(['Part-time Courses &mdash; July 12 - October 27'.html_safe])
        .form-radio
          = f.radio_button :program_choice, '4'
          = f.label :program_choice_4, safe_join(['Summer of Code &mdash; June 13 - August 5'.html_safe])
        .form-radio
          = f.radio_button :program_choice, '5'
          = f.label :program_choice_5, safe_join(['Backend Immersive &mdash; August 22 - October 28'.html_safe])
        .form-radio
          = f.radio_button :program_choice, '6'
          = f.label :program_choice_6, safe_join(["Backend Immersive &mdash; November 28 - February 10".html_safe])
      %li
        .form-label= f.label :content, 'Why are you interested in Primary Code? Tell us a little bit about yourself.'
        .form-field= f.text_area :content
      %li
        .form-button= f.submit 'Apply', class: 'button button-rounded button-flat-primary'

        = link_to 'Click here to see the thank you page where users are redirected to.', thank_you_path
