- content_for :title do
  Contact
= nav_at 'Contact Us'

%p We're looking forward to meeting you!
= render 'shared/phone_number'
= render 'shared/email'
= render 'shared/social_links'
=# render 'shared/contact_form'
= render 'shared/snail_mail'
= render 'shared/map'
