- content_for :title do
  Primary Code
= nav_at 'Home'

%section.hero
  .content
    %h1 A coding bootcamp in the heart of downtown West Palm Beach.
    %ul
      %li 5 minutes to the beach.
      %li An unparalleled education.
    .fat-link
      = link_to 'Apply Today', apply_path
      &#124;
      = link_to 'View Courses', programs_path
    = render 'shared/subscribe'

%ul.tiles
  %li.t-col.w-1-2.m-1-1
    .pitch
      = link_to about_path, class: 't-block hoverable' do
        %span.off-screen Links to program listings.
        .t-content
          -# %h2 Change your life.
          #typed-strings
            %p Change your life.
            %p Advance in your career.
            %p Start a new career.
            %p Upgrade your skills.
            %p Launch your own ideas.
            %p Learn to code.
            %p Have fun.
          %h2
            = image_tag 'logos/icon-black-50x64.png', width: '25', height: '32'
            %span#typed
        .t-middle
          %p Top tech companies in Florida pay an average salary of:
          %p $83,210 to $137,270
          -# %cite
          -#   Source: Robert Half 2016 Salary Guide for Technology Professionals, WPB area for Ruby on Rails
          -#   -# %a{href: 'https://www.roberthalf.com/sites/default/files/Media_Root/images/rht-pdfs/robert_half_technology_2016_salary_guide.pdf', target: '_blank'} Robert Half 2016 Salary Guide for Technology Professionals
        .t-bottom
          %h3 Learn about us and how we can help you get there.
        .t-more +

  %li.t-col.w-1-2.m-1-1
    = link_to web_dev_path, class: 't-block hoverable h-16x9 web-dev-program' do
      %span.off-screen Links to Web Development Immersive course outline.
      .t-content
        %h2 Web Development Immersive
        %p You'll learn everything you need to become a professional web developer using Ruby on Rails.
      .t-bottom
        %h3 A 10-week immersive program.
      .t-more +
    .other-programs
      .t-block.h-16x7
        = link_to summer_path, class: 't-n-block hoverable summer-program' do
          .t-n-content
            %span.off-screen Links to Summer of Code course outline.
            %h3 Summer of Code
            %p An immersive summer bootcamp for highschool students.
          .t-bottom
            %h3 June 3 &ndash; August 5
          .t-more +
        = link_to launch_path, class: 't-n-block hoverable launch-program' do
          .t-n-content
            %span.off-screen Links to Launch Program overview.
            %h3 Launch Program
            %p
              Bring your ideas
              %br
              to reality.
          .t-bottom
            = image_tag 'icons/rocket-computer.png', alt: 'Rocket launching off of computer'
          .t-more +

  %li.t-col.w-1-2.m-1-1
    = link_to backend_path, class: 't-block hoverable h-16x9 backend-program' do
      %span.off-screen Links to Backend Immersive course outline.
      .t-content
        %h2 Backend Immersive
        %p Take a deep dive into functional programming, the future of the Web with Elixir and Phoenix.
      .t-bottom
        %h3 An 8-week immersive program.
      .t-more +
    = link_to faq_path, class: 't-block hoverable h-16x7 faq' do
      %span.off-screen Links to FAQs.
      .t-content
        %p What kind of jobs do grads get?
        %p How do I get in?
        %p What's a typical day like for students?
        %p Does Primary Code help students find jobs?
        %p What will I learn?
      .t-more +

  %li.t-col.w-1-2.m-1-1
    .t-block.expectations
      .t-content
        %h2 Expect a lot in a short period of time.
        %p Our programs are intense, unparalleled, and fun.
    .t-block.essence
      .t-n-block.education
        .t-n-content
          %h3 Education
          %ul
            %li Intense and immersive
            %li World-class instructors
            %li Cutting edge technologies
            %li A hands-on approach
      .t-n-block.experience
        .t-n-content
          %h3 Experience
          %ul
            %li Real-world clients
            %li A blend of theory and hands-on practice
            %li Personal challenges in blogging and presenting
            %li Portfolio building
      .t-n-block.adventure
        .t-n-content
          %h3 Fun &amp; adventure
          %ul
            %li Beaches &mdash; 10 minutes by bike
            %li Surfing, boating, scuba diving, snorkeling, kayaking
            %li West Palm Beach nightlife and other attractions within blocks
            %li We break up long intense days with healthy activities like yoga
      .t-n-block.networking
        .t-n-content
          %h3 Networking for Life
          %ul
            %li Teambuilding and group unity activities
            %li Pair and mob programming
            %li On location community code meet ups
            %li Guest speakers
            %li Student/alumni online tools
            %li Job-search/networking and training assistance

  %li.t-col.w-1-2.m-1-1
    .t-block.events
      .t-content
        %h2 Upcomming Events
        %h3 Open House
        %p March 15, 2016
        %p 6:00 PM to 7:00 PM
        %h3 WPB Ruby Group Meetup
        %p Second Tuesday of the month
        %p 6:45 PM to 10:00 PM
        %h3 WPB Elixir Group Meetup
        %p First Tuesday of the month
        %p 6:45 PM to 10:00 PM

  %li.t-col.w-1-2.m-1-1
    .t-block.h-16x9.testimonial
      .t-content
        %ul.bxslider
          %li
            %blockquote
              %p Profile image is optional, resize appropriately. Prev, Next, 1, 2 links below are optional.
              %footer &mdash; Chris Maxwell
            .image=image_tag 'pics/chris-maxwell.jpg'
          %li
            %blockquote
              %p Primary code is an excellent place to start your coding career.
              %footer &mdash; Anthony Gutilla
            .image=image_tag 'pics/anthony-gutilla.jpg'
    = link_to employers_path, class: 't-block hoverable h-16x7 partners' do
      %span.off-screen Links to employers page.
      .t-content
        %h2 Our Business Partners
        .t-middle
          =image_tag 'logos/partners/VT_Logo.png'
          =image_tag 'logos/partners/ojala.png'
      .t-more +

%section.gallery
  %h2 Work hard, play hard
  .images
    =link_to root_path, class: 'image-1' do
      = image_tag 'pics/IMG_2628.jpg', alt: 'Primary Code Building'
    =link_to root_path, class: 'image-2' do
      = image_tag 'pics/Blowing-Rock-070.jpg', alt: 'Beach With Rocks'
    =link_to root_path, class: 'image-3' do
      = image_tag 'pics/IMG_6579.jpg', alt: 'Surfer Kid'
      =# image_tag 'pics/IMG_6931.jpg', alt: 'Surfer Dude'
      =# image_tag 'pics/IMG_2722.jpg', alt: 'Draw Bridge'
      =# image_tag 'pics/IMG_2671.jpg', alt: 'Beach Sign'
      =# image_tag 'pics/IMG_2676_1.jpg', alt: 'Beach Sign With Flag'
      =# image_tag 'pics/Blowing-Rock-205.jpg', alt: 'Sky Through Rocks'
  %p A fantastic location for education and fun!
