- content_for :title do
  Home
= nav_at 'Home'

#grid-home.gridster
  %ul
    %li.green-section.hero{"data-row" => "1", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "4"}
      %h1 Primary Code is for people who want to learn how to code.
      %p - or -
      #typed-strings
        %p learn how to code.
        %p advance in your career.
        %p start a new career.
        %p upgrade your skills.
        %p launch your own ideas.
        %p become a full-stack web developer.
      %h1
        Primary Code &mdash;
        %span#typed
      %p Become a full-stack web developer through our immersive full-time 8 week coding bootcamp located in the heart of downtown West Palm Beach Florida.
      = link_to 'Apply Today', apply_path, title: ''
      %br
      = link_to 'View Courses', program_path, title: ''
      %br
      %br
      = render 'shared/subscribe'
      %p Video background or Image?

    %li.blue-section.pitch{"data-row" => "2", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p We offer a unique learning experience by combining live client projects with course curriculum. At Primary Code you will gain real world practical experience while simultaneously building your portfolio.

    %li.blue-section.pitch{"data-row" => "2", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p At Primary Code the network you create is as important as the skills you learn. Through team based learning and collaboration you will gain life long friends and coding colleagues.

    %li.blue-section.pitch{"data-row" => "2", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p With our world class instructors in vibrant downtown West Palm Beach learning at Primary Code is intense, fun, challenging, and rewarding. It will be a life changing experience!

    %li.green-section.faq{"data-row" => "3", "data-col" => "1", "data-sizex" => "1", "data-sizey" => "2"}
      %p What kind of jobs do grads get?
      %p How do I get in?
      %p What's a typical day like for students?
      %p Does Primary Code help students find jobs?
      %p What will I learn?

    %li.green-section.testimonial{"data-row" => "3", "data-col" => "2", "data-sizex" => "2", "data-sizey" => "2"}
      %img{:src => 'http://dummyimage.com/100x100/000/fff&text=Profile+Pic', :alt => 'dummy image'}
      %blockquote
        %p Primary code is an excellent place to start your coding career.
        %footer &mdash; Anthony Gutilla

    %li.blue-section.tracks{"data-row" => "4", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "2"}
      %h2 Web Development Bootcamp
      / %h2 Rails Web Development
      / %h2 Frontend Immersive
      / %h2 Frontend Web Development
      / %h2 iOS Development
      / %h2 Android Development
      / %h2 UX Design
      %h3 8 week immersive program.
      %p You'll learn everything you need to become a professional web developer using Ruby on Rails.
      = link_to 'Front-end Bootcamp', front_end_path
      = link_to 'Part-time Courses', part_time_path

    %li.blue-section.facilities{"data-row" => "5", "data-col" => "1", "data-sizex" => "2", "data-sizey" => "3"}
      = image_tag 'pics/location.jpg', alt: ''

    %li.green-section.events{"data-row" => "5", "data-col" => "3", "data-sizex" => "1", "data-sizey" => "4"}
      %h2 Upcomming Events
      %h3 Open House
      %p March 15, 2016
      %p 6:00 PM to 7:00 PM
      %h3 WPB Ruby Group Meetup
      %p Second Tuesday of the month
      %p 6:45 PM to 10:00 PM
      %h3 WPB Elixir Group Meetup
      %p First Tuesday of the month
      %p 6:45 PM to 10:00 PM

    %li.green-section.apply{"data-row" => "6", "data-col" => "1", "data-sizex" => "2", "data-sizey" => "2"}
      %p Advance in your career, start a new career, launch your own idea, or upgrade your skills.
      %p Top tech companies in Florida pay an average salary of:
      %h3 $75,000
      %p Our next course begins on March 1, 2016
      = link_to 'Apply Today', apply_path, title: ''

    %li.blue-section.partners{"data-row" => "7", "data-col" => "1", "data-sizex" => "3", "data-sizey" => "1"}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
      %img{:src => 'http://dummyimage.com/75x75/999/000&text=Partner+Logo', :alt => 'dummy image'}
