- content_for :title do
  Part Time Courses
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Part Time Courses
    .what
      %h3 What?
      %p An after work part-time program for the working professional.
    .where
      %h3 Where?
      %p Downtown West Palm Beach, Florida
    .when
      %h3 When?
      %p Courses begin every month from 6-9 PM on Wednesdays and 9-5 on weekends.

%section.yellow
  .overview
    %p Each month dive into your choice of the most sought after development skills.

%section
  .upcomming-tracks
    %h2 Upcoming Tracks

%ul.tiles
  %li.t-col.w-1-3
    .t-block.red
      .t-content
        %h4 The Development Environment
        %p March 1, 2016
        %ol.edu-icons
          %li [Terminal]
          %li [Sublime]
          %li [Git]
          %li [Github]
          %li [Heroku]
          %li [Amazon AWS]
          %li [RVM]
        %p These are some of the base tools for any software developer. Through this course you will learn to master each of them and more.
        = link_to 'Get Started', apply_path

  %li.t-col.w-1-3
    .t-block.green
      .t-content
        %h4 Mastering HTML and CSS
        %p April 1, 2016
        %ol.edu-icons
          %li [HTML]
          %li [HAML]
          %li [CSS]
          %li [SASS]
        %p Without HTML and CSS there is no Web. Learn these fundamental tools in this month long part-time course.
        = link_to 'Get Started', apply_path

  %li.t-col.w-1-3
    .t-block.blue
      .t-content
        %h4 Web Development for Mobile
        %p May 1, 2016
        %ol.edu-icons
          %li [Responsive Design]
          %li [User Agent Design]
        %p The greatest global increase in internet access is occurring through mobile devices. In some countries only mobile versions of websites exist. In this course learn how to create websites for mobile devices.
        = link_to 'Get Started', apply_path

  %li.t-col.w-1-3
    .t-block.cyan
      .t-content
        %h4 JavaScript
        %p June 1, 2016
        %ol.edu-icons
          %li [jQuery]
          %li [JavaScript]
        %p JavaScript is ubiquitous amongst all web browsers. It is the de facto language of the web. In this course learn the fundamentals of JavaScript and jQuery.
        = link_to 'Get Started', apply_path

  %li.t-col.w-1-3
    .t-block.magenta
      .t-content
        %h4 Ruby on Rails
        %p July 1, 2016
        %ol.edu-icons
          %li [Ruby]
          %li [Rails]
        %p Ruby on Rails is the Swiss army knife of web development. There is little that cannot be accomplished with the Rails framework. In this course dive into the fundamentals of both Ruby and Ruby on Rails.
        = link_to 'Get Started', apply_path

  %li.t-col.w-1-3
    .t-block.yellow
      .t-content
        %h4 Elixir and Phoenix
        %p July 1, 2016
        %ol.edu-icons
          %li [Elixir]
          %li [Phoenix]
        %p It has been said that the future of web development is functional and concurrent. In this course learn the fundamentals of Elixir, a functional programming language, and Phoenix, an Elixir based web framework.
        = link_to 'Get Started', apply_path

%section.green
  .subscribe
    = render 'shared/subscribe'
