- content_for :title do
  Our Programs
= nav_at 'Programs'

- content_for :hero do
  %section.hero-slider
    %ul
      %li
        %h1 Intense, collaborative, hands-on.
      %li
        %h1 Our approach to education is holistic...We blend A world-class education with experience, fun, adventure, and collaboration.
      %li
        %h1 We expect a lot in a short period of time. We figure you do too. Our program is intense and unparalleled.
      %li
        %h1 Nothing can substitute for experience. At Primary Code you practice what you learn &mdash; with live clients.
      %li
        %h1 We like to have fun and we want your experience to be fun &mdash; work hard, play hard.
      %li
        %h1 A coding network for life: for help, collaboration, job opportunities, to bounce ideas, for lifelong career friendships. We believe and promote this.

%ul.tiles
  %li.t-col.w-1-3.m-1-1
    .web-dev-program
      = link_to web_dev_path, class: 't-block hoverable' do
        %span.off-screen Links to Web Development Immersive course description.
        .t-content
          %h2 Web Development Immersive
          %p 10 weeks, 40+ hours per week
          %h3 Fall 2016
          %p August 22 - October 28
          %h3 Winter 2016
          %p November 28 - February 10
          -# %p October 17 - December 16
          %p $8,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .part-time-program
      = link_to part_time_path, class: 't-block hoverable' do
        %span.off-screen Links to Part-time Courses course descriptions.
        .t-content
          %h2 Part-time Courses
          %p An after work part-time program for the working professional. 16 weeks of intensive hands on training.
          %p July 12 - October 27
          %p Tuesday &amp; Thursday, 6:30 - 10:00 pm
          %p $3,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .summer-program
      = link_to summer_path, class: 't-block hoverable' do
        %span.off-screen Links to Summer of Code course description.
        .t-content
          %h2 Summer of Code
          %p Designed for highschool students on summer break, learn to produce world class websites optimized for mobile, tablet and desktop devices using Ruby on Rails, CSS, HTML, JavaScript, and have fun along the way.
          %p June 13 - August 5
          %p Monday through Friday, 9:00 - 5:00 pm
          %p $5,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus-dark'

  %li.t-col.w-1-3.m-1-1
    .backend-program
      = link_to backend_path, class: 't-block hoverable' do
        %span.off-screen Links to Backend Immersive course description.
        .t-content
          %h2 Backend Immersive
          %p Take a deep dive into functional programming, the future of the Web with Elixir and Phoenix.
          %h3  Fall 2016
          %p August 22 - October 28
          %h3  Winter 2016
          %p November 28 - February 10
          -# %p October 17 - December 16
          %p $9,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .red-pill
      = link_to apply_path, class: 't-block hoverable' do
        %span.off-screen Links to Apply page.
        .t-content
          %h2 Born to Code?
        .t-middle
          %button{class: 'button button-rounded button-flat-action'} Apply!
        .t-bottom
          %h3 Take the red pill...
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus-dark'

  %li.t-col.w-1-3.m-1-1
    .launch-program
      = link_to launch_path, class: 't-block hoverable' do
        %span.off-screen Links to Launch Program description.
        .t-content
          %h2 Launch Program
          %p
            %strong Do you need a website?
            Our students &ndash; led by instructors &ndash; can build your website at minimal to no cost to you.
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

%section.panel.panel-ctr.program-blurb
  %h1 Learning at Primary Code is intense, fun, challenging, and rewarding. It will be a life changing experience!

%ul.tiles
  %li.t-col.w-1-2.m-1-1
    .t-block.mission
      .t-content
        %h2 We are dedicated to your success and to improving the world through technology.
      .t-bottom
        %h3 This is our mission, and an important one. Each and every member of Primary Code takes this charge seriously.

  %li.t-col.w-1-2.m-1-1
    .t-block.network
      .t-content
        %h2 It is important for students to belong to a network in which to flourish from once they graduate.
      .t-bottom
        %h3 Our curriculum is designed to foster teamwork and collaboration.

  %li.t-col.w-1-2.m-1-1
    .t-block.location
      .t-content
        %h2 We are located in the heart of West Palm Beach, within blocks from all major attractions and amenities.
      .t-bottom
        %h3 This provides our students with a rich environment for building lifelong friendships and collaboration networks. And most importantly... to have fun!

  %li.t-col.w-1-2.m-1-1
    .t-block.founder
      .t-content
        %h2 Give us a call, come by and visit.
      .t-bottom
        %h3 We look forward to meeting you.
