- content_for :title do
  Students
= nav_at 'Students'

.students
  .hero.black
    %h1 Our Students
    %h2 What they have learned
    %p During their eight weeks with us they will spend over 400 hours learning:
    %ol.edu-icons
      %li [Terminal]
      %li [Sublime]
      %li [Git]
      %li [Github]
      %li [Heroku]
      %li [Amazon AWS]
      %li [RVM]
      %li [HTML]
      %li [HAML]
      %li [CSS]
      %li [SASS]
      %li [Responsive Design]
      %li [User Agent Design]
      %li [Jquery]
      %li [Javascript]
      %li [Ruby]
      %li [Rails]
    %p
      Add more complimentory information about students and the course. To meet them first,
      = succeed '.' do
        = link_to 'contact us', contact_path

  %section
    %h2 Spring 2016
    %p Need someone with more experience?
    %div= link_to 'meet our alumni', alumni_path
    %br
    %br
    %br
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.
    .student
      %img{:src => 'http://dummyimage.com/250x250/999/000&text=Student+Pic', :alt => 'dummy image'}
      %h4 Anthony Gutilla
      %p West Palm Beach, Florida
      %a{href: 'anthonygutilla.com', title: ''} http://anthonygutilla.com
      %p Need social icons, also note availability with icon as well. Will need legend.

  %section.green
    %p Interested in becoming a student?
    = link_to 'Apply', apply_path
