- content_for :title do
  Summer of Code
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Summer of Code
    %p
      %strong What will you learn?
    %p Primary Code is an elite coding boot camp. Students will learn everything they need to know to develop websites for clients at a professional level.
    %p.toggle-1 Monday through Friday from 9 AM to 5 PM students will learn to produce world class websites optimized for mobile, tablet and desktop devices using Ruby on Rails, CSS, HTML, JavaScript, and have fun along the way – through group collaboration projects and strategic breaks for organized field trips to the beach and river kayaking.
    %p.toggle-2
      This is an intensive program. A laptop and basic HTML and CSS knowledge are required. An interview can be scheduled through our
      = succeed '.' do
        = link_to 'Application Form', apply_path, class: 'link-underline link-underline-black'

    =# image_tag 'misc/devices.png', alt: 'Icons for different device types'

%section.panel.next-cohort
  %div
    %h2 This summers cohort begins June 13, 2016
    = link_to 'Apply Now', apply_path, class: 'button button-rounded button-flat-action'

%ul.tiles
  %li.t-col.w-1-3.m-1-1
    .t-block.box-1
      .t-content
        %p This course begins by introducing the developer's tool set and work environment. These teachings are critical to your success and reinforced througout the program.
      .t-middle
        = embedded_svg 'icons/svg/dev-1/terminal.svg'
        = embedded_svg 'icons/svg/dev-3/sublime.svg'
        = embedded_svg 'icons/svg/dev-2/atom-original.svg'
        = embedded_svg 'icons/svg/dev-2/git-plain.svg'
        = embedded_svg 'icons/svg/dev-2/github-original-wordmark.svg'
      .t-bottom
        %h4 Terminal, Sublime, Git, Github, RVM
  %li.t-col.w-1-3.m-1-1
    .t-block.box-2
      .t-content
        %p As you progress your knowledge of HTML and CSS will reach a new and advanced level of understanding.
        .edu-icons
      .t-middle
        = embedded_svg 'icons/svg/dev-2/html5-plain-wordmark.svg'
        = embedded_svg 'icons/svg/dev-3/haml.svg'
        = embedded_svg 'icons/svg/dev-2/css3-plain-wordmark.svg'
        = embedded_svg 'icons/svg/dev-2/sass-original.svg'
        = embedded_svg 'icons/svg/dev-1/responsive.svg'
      .t-bottom
        %h4 HTML, HAML, CSS, SASS, RWD
  %li.t-col.w-1-3.m-1-1
    .t-block.box-3
      .t-content
        %p In addition to CSS and HTML you will use jQuery and JavaScript along with Ruby on Rails to build websites.
      .t-middle
        = embedded_svg 'icons/svg/dev-2/jquery-plain-wordmark.svg'
        = embedded_svg 'icons/svg/dev-2/javascript-original.svg', class: 'js-icon'
        = embedded_svg 'icons/svg/dev-2/rails-plain-wordmark.svg'
        .edu-icons
      .t-bottom
        %h4 Jquery and JavaScript on Ruby on Rails
  %li.t-col.w-1-3.m-1-1
    .t-block.box-4
      .t-content
        %p Our approach includes understanding client and user requirements, information architecture, design principles, usability testing, and how these factors come together in the code that you write.
      .t-bottom
        %h4 Work with live clients.
  %li.t-col.w-1-3.m-1-1
    .t-block.box-5
      .t-content
        %p Everything you implement will be on the Ruby on Rails platform, from basic markup to advanced user agent detection for mobile device rendering. You will also learn how to deploy project websites to top tier hosting providers like Heroku and Amazon AWS.
      .t-middle
        =# embedded_svg 'icons/svg/dev-2/ruby-original-wordmark.svg'
        = embedded_svg 'icons/svg/dev-3/meter.svg'
        = embedded_svg 'icons/svg/dev-2/rails-plain-wordmark.svg'
        = embedded_svg 'icons/svg/dev-2/heroku-plain-wordmark.svg'
        = embedded_svg 'icons/svg/dev-2/amazonwebservices-original.svg'
      .t-bottom
        %h4 Optimize for performance and deploy Ruby on Rails on Heroku and Amazon AWS
  %li.t-col.w-1-3.m-1-1
    .t-block.box-6
      .t-content
        %p Along this process you will follow best practices and standards for writing code. You will learn how to research and solve technical challenges; pair program and work in teams; contribute to larger projects; and optimize and improve performance for the sites that you build.
      .t-bottom
        %h4 You will become a well-rounded full stack developer ready to join and contribute to any team.

%section.panel.panel-ctr.more-info
  %h2 This program is designed for highschool students with some knowledge of coding. The program is broad, deep, and intensive,  but it's summer time so we bake some fun into the program though beach trips and other activities. For a more detailed overview and course description contact us, we want to speak with you!
  = link_to 'Get in Touch with Us', contact_path, class: 'button button-rounded button-flat-action'

%ul.tiles
  %li.t-col.w-1-2.m-1-1
    = link_to apply_path, class: 't-block hoverable events' do
      %span.off-screen Links to Apply page.
      .t-content
        %h2 Upcomming Course Date
      .t-middle
        %div
          = embedded_svg 'icons/svg/calendar.svg', class: 'calendar'
          %h3
            June 13 - August 5
            %br
            Summer Cohort
      .t-bottom
        %h3 Enrollment is on a first come first serve basis. The application process includes a phone interview, click this box to begin.
      .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-2.m-1-1
    = link_to tuition_path, class: 't-block hoverable tuition' do
      %span.off-screen Links to Tuition page.
      .t-content
        %h2 Tuition
        %p The course price is $5,500
        %p This includes 8 weeks, 40 hours per week of instructor led training at our downtown West Palm Beach location.
        %p We have established relations with lending institutions to help you on your journey.
      .t-bottom
        %h3 We don't want financing to stop you from achieving your goals.
      .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus-dark'

  %li.t-col.w-1-2.m-1-1
    .t-block.write-up
      .t-content
        %h2 Chris Maxwell, Lead Instructor
        %h3 With 17 years of coding, an MBA, and teaching experience, Chris Maxwell brings an exceptional blend of software engineering, business and teaching experience to the classroom.
        %p.toggle-1.toggle-2 Professionally Chris has worked for Oracle Corporation, Fidelity Investments' in-house design and development team, and several web-based startups and consultancies including his own agency ViewThought &mdash; specializing in Ruby on Rails Web and mobile development.
        %p.toggle-1 Chris earned a BS and an MBA from Bentley University, and has taught at Cape Cod Community College and independently as an Advanced Open Water Scuba Diving instructor.
        %p.toggle-1.toggle-2.toggle-3 Chris is passionate about technology and the possibilities of change for better in the world and for those individuals born to code and pursue their dreams through Primary Code.
      .t-bottom
        %h3 Born to code.
  %li.t-col.w-1-2.m-1-1
    .t-block.instructor
      .t-content
        = image_tag 'pics/instructors/chris-maxwell-840x840.jpg', alt: 'Chris Maxwell, Lead Instructor'
