- content_for :title do
  Tuition
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Invest in your future.

%ul.tiles
  %li.t-col.w-1-3.m-1-1
    .web-dev-program
      = link_to web_dev_path, class: 't-block hoverable' do
        %span.off-screen Links to Web Development Immersive course description.
        .t-content
          %h2 Web Development Immersive
        .t-middle
          %ol
            %li 400+ hours of classroom time
            %li 150+ hours of lessons
            %li 16:1 ratio of students to instructors
        .t-bottom
          %h3 $8,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .part-time-program
      = link_to part_time_path, class: 't-block hoverable' do
        %span.off-screen Links to Part-time Courses course descriptions.
        .t-content
          %h2 Part-time Courses
        .t-bottom
          %h3 $3,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .summer-program
      = link_to summer_path, class: 't-block hoverable' do
        %span.off-screen Links to Summer of Code course description.
        .t-content
          %h2 Summer of Code
        .t-bottom
          %h3 $5,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus-dark'

  %li.t-col.w-1-3.m-1-1
    .backend-program
      = link_to backend_path, class: 't-block hoverable' do
        %span.off-screen Links to Summer of Code course description.
        .t-content
          %h2 Backend Immersive
        .t-bottom
          %h3 $9,500
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

  %li.t-col.w-1-3.m-1-1
    .lets-talk
      = link_to contact_path, class: 't-block hoverable' do
        %span.off-screen Links to Contact Us page.
        .t-content
          %h2 Want to learn more?
        .t-middle
          %button{class: 'button button-rounded button-flat-action'} Contact Us
        .t-bottom
          %h3 Give us a call, we would be happy to answer any questions you may have.
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus-dark'

  %li.t-col.w-1-3.m-1-1
    .launch-program
      = link_to launch_path, class: 't-block hoverable' do
        %span.off-screen Links to Launch Program description.
        .t-content
          %h2 Launch Program
          %p
            %strong Do you need a website?
        .t-bottom
          %h3 Our students &ndash; led by instructors &ndash; can build your website at minimal to no cost to you.
        .t-more= embedded_svg 'icons/svg/circle-with-plus.svg', class: 'plus'

%section.panel.financing
  %h2 Financing
  %p Need payment assistance?
  %p We are in the process of partnering with the following lenders. You can join a cohort and launch your new career for as little as $1,000 down.
  %a{href: "https://www.pave.com/", target: '_blank'} PAVE
  %br
  %a{href: "http://skills.fund/", target: '_blank'} SKILLS FUND
  %br
  %a{href: "https://www.affirm.com/", target: '_blank'} AFFIRM
  %br
  %a{href: "https://climbcredit.com/", target: '_blank'} CLIMB
