- content_for :title do
  Tuition
= nav_at 'Our Programs'

- content_for :hero do
  %section.hero
    %h1 Invest in your future.

%section.panel.financing
  %h2 Need payment assistance?
  %p
    %strong How about $1,000 down and no tuition costs until you find a job?
    We are committed to your success and believe that what we teach will help jumpstart a great career. We also believe that what you gain from the Primary Code experience provides a springboard for positive earnings growth in your foreseeable future.
  %p We are investing in your success.

%ul.tiles
  %li.t-col.w-1-4.m-1-1
    .elixir-all-stars
      = link_to elixir_path, class: 't-block hoverable' do
        %span.off-screen Links to Elixir All-Stars program description.
        .t-content
          %h2 Elixir All-Stars
        .t-bottom
          %h3 $9,500
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus'

  %li.t-col.w-1-4.m-1-1
    .web-dev-program
      = link_to web_dev_path, class: 't-block hoverable' do
        %span.off-screen Links to Web Development Immersive course description.
        .t-content
          %h2 Web Development Immersive
        / .t-middle
        /   %ol
        /     %li 300+ hours of classroom time
        /     %li 150+ hours of lessons
        /     %li 12:1 ratio of students to instructors
        .t-bottom
          %h3
            %span $8,500
            $5,950 (30% discount)
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus'

  %li.t-col.w-1-4.m-1-1
    .part-time-program
      = link_to part_time_path, class: 't-block hoverable' do
        %span.off-screen Links to Part-time Courses course descriptions.
        .t-content
          %h2 Part-time Courses
        .t-bottom
          %h3
            %span $3,500
            $2,450 (30% discount)
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus'

  %li.t-col.w-1-4.m-1-1
    .summer-program
      = link_to summer_path, class: 't-block hoverable' do
        %span.off-screen Links to Summer of Code course description.
        .t-content
          %h2 Summer of Code
        .t-bottom
          %h3 $5,500
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus-dark'

  %li.t-col.w-1-4.m-1-1
    .lets-talk
      = link_to contact_path, class: 't-block hoverable' do
        %span.off-screen Links to Contact Us page.
        .t-pattern
        .t-content
          %h2 Want to learn more?
        .t-middle
          %button{class: 'button button-rounded button-flat-action'} Contact Us
        .t-bottom
          %h3 Give us a call, we would be happy to answer any questions you may have.
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus-dark'

  %li.t-col.w-1-4.m-1-1
    .launch-program
      = link_to launch_path, class: 't-block hoverable' do
        %span.off-screen Links to Launch Program description.
        .t-content
          %h2 Launch Program
          %p
            %strong Do you need a website?
        .t-bottom
          %h3 Our students &ndash; led by instructors &ndash; can build your website at minimal to no cost to you.
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus'

  %li.t-col.w-1-2.m-1-1
    .payment-plan
      =# link_to "https://climbcredit.com/", target: '_blank', class: 't-block hoverable' do
      / .t-block.hoverable
      = link_to contact_path, class: 't-block hoverable' do
        .t-content
          %h2 Payment Plan
          %p We want you to succeed, and we understand that not everyone will be able to pay the full tuition up front. We are also confident in our program, and in our students. For these reasons we offer a $1,000 down, no payments until you're hired payment plan.
          / %p Under this program, through our partner Climb, we offer a 24 month payment plan that begins only when you are hired.
          %p Under this program we offer a 24 month payment plan that begins only when you are hired.
        .t-bottom
          %h3 Contact us to learn more.
        .t-more= embedded_svg 'icons/svg/popout.svg', class: 'plus-dark'
