= form_for @message, url: { action: "create", role: 'form', class: 'form' } do |f|
  = render 'shared/error_message'
  %fieldset
    %p
      %span.infield-label
        = f.label 'name'
        = f.text_field :name
    %p
      %span.infield-label
        = f.label 'email'
        = f.email_field :email
    %p
      %span.infield-label
        = f.label 'phone'
        = f.phone_field :phone
    %p
      %span.infield-label.textarea
        = f.label 'content', 'Tell us a little about your project'
        = f.text_area :content, cols: 5, rows: 5
    %p.button
      %span.infield-label
        %button Send
