%footer{role: 'contentinfo', class: 'footer'}
  %section
    .footer-left
      %p
        %strong Primary Code
        is an elite software career accelerator located in the heart of downtown West Palm Beach Florida.
      = render 'shared/social_icons'
      = render 'shared/phone_number'
      = render 'shared/email_encryptor'
      = render 'shared/subscribe'
    .footer-right
      %ul.col1
        %li= link_to 'Home', home_path
        %li= link_to 'About', about_path
        %li= link_to 'FAQ', faq_path
        %li= link_to 'Tuition', tuition_path
        %li= link_to 'Apply Now', apply_path
        -# %li= link_to 'Employers', employers_path
        -# %li= link_to 'Students', students_path
        -# %li= link_to 'Alumni', alumni_path
        -# %li= link_to 'Blog', blog_path
        %li= link_to 'Contact Us', contact_path
      %ul.col2
        %li= link_to 'Our Programs', programs_path
        %li= link_to 'Web Development Immersive', web_dev_path
        %li= link_to 'Elixir All-Stars', elixir_path
        %li= link_to 'Part-time Courses', part_time_path
        %li= link_to 'Summer of Code', summer_path
        %li= link_to 'Launch Program', launch_path
    %p.copyright
      &copy; Primary Code
      = Date.today.year
