- content_for :title do
  Gallery
- content_for :description_tag do
  Images available for website design.

.gallery
  %section= link_to 'Dashboard', guides_path, class: 'guides-link'

  %section
    %h2 Image Gallery
    %h3 Our Building &mdash; Downtown West Palm Beach
    .lightgallery-1
      = link_to 'http://primary-code.ojala.com/fl (54).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (54).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (55).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (55).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (56).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (56).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (57).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (57).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (58).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (58).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (59).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (59).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (60).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (60).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (70).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (70).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (71).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (71).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (72).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (72).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (73).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (73).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (74).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (74).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (75).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (75).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (76).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (76).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (77).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (77).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (78).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (78).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (79).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (79).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (80).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (80).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (81).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (81).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (82).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (82).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (83).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (83).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (84).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (84).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (85).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (85).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (86).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (86).jpg'}

    %h3 West Palm Beach &mdash; Within 10 minutes of our office
    .lightgallery-2
      = link_to 'http://primary-code.ojala.com/fl (87).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (87).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (88).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (88).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (89).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (89).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (90).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (90).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (91).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (91).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (92).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (92).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (93).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (93).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (94).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (94).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (95).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (95).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (96).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (96).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (97).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (97).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (98).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (98).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (99).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (99).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (100).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (100).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (101).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (101).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (102).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (102).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (103).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (103).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (104).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (104).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (105).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (105).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (106).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (106).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (107).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (107).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (108).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (108).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (109).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (109).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (110).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (110).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (111).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (111).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (112).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (112).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (113).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (113).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (114).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (114).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (115).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (115).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (116).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (116).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (117).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (117).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (118).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (118).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (119).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (119).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (120).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (120).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (121).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (121).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (122).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (122).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (123).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (123).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (124).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (124).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (125).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (125).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (126).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (126).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (127).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (127).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (128).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (128).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (129).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (129).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (130).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (130).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (131).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (131).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (132).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (132).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (133).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (133).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (134).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (134).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (135).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (135).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (136).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (136).jpg'}

    %h3 Florida &mdash; Within 1 hour of our office
    .lightgallery-3
      = link_to 'http://primary-code.ojala.com/fl (180).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (180).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (179).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (179).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (181).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (181).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (182).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (182).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (183).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (183).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (137).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (137).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (138).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (138).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (139).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (139).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (140).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (140).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (141).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (141).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (142).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (142).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (170).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (170).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (171).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (171).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (172).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (172).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (173).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (173).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (174).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (174).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (43).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (43).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (44).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (44).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (45).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (45).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (46).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (46).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (158).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (158).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (50).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (50).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (47).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (47).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (48).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (48).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (49).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (49).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (1).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (1).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (2).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (2).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (3).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (3).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (4).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (4).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (5).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (5).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (6).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (6).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (7).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (7).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (8).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (8).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (143).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (143).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (144).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (144).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (145).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (145).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (146).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (146).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (147).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (147).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (148).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (148).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (149).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (149).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (150).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (150).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (151).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (151).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (152).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (152).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (153).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (153).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (154).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (154).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (155).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (155).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (156).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (156).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (157).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (157).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (159).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (159).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (160).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (160).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (9).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (9).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (11).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (11).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (13).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (13).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (14).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (14).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (15).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (15).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (16).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (16).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (17).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (17).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (20).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (20).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (21).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (21).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (22).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (22).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (23).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (23).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (24).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (24).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (27).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (27).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (28).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (28).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (29).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (29).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (30).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (30).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (175).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (175).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (176).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (176).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (177).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (177).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (178).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (178).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (31).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (31).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (32).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (32).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (33).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (33).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (34).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (34).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (35).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (35).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (36).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (36).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (37).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (37).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (38).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (38).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (39).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (39).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (40).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (40).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (41).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (41).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (42).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (42).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (51).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (51).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (52).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (52).jpg'}
      = link_to 'http://primary-code.ojala.com/fl (53).JPG' do
        %img{:src => 'http://primary-code.ojala.com/200/fl (53).jpg'}
