- content_for :title do
  Development Dashboard
- content_for :description_tag do
  The development path to nirvana.

.dashboard
  %ul.tiles
    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Resources
          %ul
            %li= link_to 'Storyline', storyline_path
            %li= link_to 'Descriptive Adjectives List', adjectives_path
            %li= link_to 'Primary Code Essence', essence_path
            %li= link_to 'Pipe Operator Meaning', pipe_operator_path
            %li= link_to 'Meta Description', description_path
            %li
              %a{href: 'http://primary-code.ojala.com/Organisms.xlsx'} Organisms

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Competitive Landscape
          %ul
            %li= link_to 'http://www.appacademy.io', 'http://www.appacademy.io', target: '_blank'
            %li= link_to 'https://www.bloc.io', 'https://www.bloc.io', target: '_blank'
            %li= link_to 'http://devbootcamp.com', 'http://devbootcamp.com', target: '_blank'
            %li= link_to 'http://flatironschool.com', 'http://flatironschool.com', target: '_blank'
            %li= link_to 'https://generalassemb.ly', 'https://generalassemb.ly', target: '_blank'
            %li= link_to 'http://www.hackreactor.com', 'http://www.hackreactor.com', target: '_blank'
            %li= link_to 'http://hackeryou.com', 'http://hackeryou.com', target: '_blank'
            %li= link_to 'https://www.ironhack.com', 'https://www.ironhack.com/en', target: '_blank'
            %li= link_to 'http://ixperience.co.za', 'http://ixperience.co.za', target: '_blank'
            %li= link_to 'https://launchacademy.co', 'https://launchacademy.co', target: '_blank'
            %li= link_to 'https://launchschool.com', 'https://launchschool.com', target: '_blank'
            %li= link_to 'http://www.thefirehoseproject.com', 'http://www.thefirehoseproject.com', target: '_blank'
            %li= link_to 'http://www.starterleague.com', 'http://www.starterleague.com', target: '_blank'

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Competition in Florida
          %ul
            %li= link_to 'http://www.palmbeachcodeschool.com', 'http://www.palmbeachcodeschool.com', target: '_blank'
            %li= link_to 'http://wyncode.co', 'http://wyncode.co', target: '_blank'

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Information Architecture
          %p Using index cards to get to our information architecture.
          .card-links
            = link_to 'Navigation', navigation_path
            %span &#124;
            = link_to 'All Cards', all_cards_path
            %span &#124;
            = link_to 'Sans Rejects', sans_rejects_path
            %span &#124;
            -# = link_to 'Sans Borderline', sans_borderline_path
            -# %span &#124;
            = link_to 'Final', final_path

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Nongraphical Wireframe's
          %p Best to use:
          %ul
            %li= link_to 'http://primarycode.herokuapp.com', 'http://primarycode.herokuapp.com', target: '_blank'
          %p Here is an earlier version of the nongraphical wireframe with movable and resizable containers.
          %ul
            %li= link_to 'http://primary-wireframe.herokuapp.com', 'http://primary-wireframe.herokuapp.com', target: '_blank'

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Design Inspiration
          %ul
            %li= link_to 'https://design.google.com', 'https://design.google.com', target: '_blank'
            %li= link_to 'http://www.mixd.co.uk', 'http://www.mixd.co.uk', target: '_blank'
            %li= link_to 'http://www.firstborn.com', 'http://www.firstborn.com', target: '_blank'
            %li= link_to 'http://www.wacom.com', 'http://www.wacom.com', target: '_blank'
            %li= link_to 'http://superfriend.ly', 'http://superfriend.ly', target: '_blank'

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Style Guide
          %p The style guide is not set in stone! Specifically, colors.
          %ul
            %li= link_to 'Style Guide', style_guide_path

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Images
          %p I don't have any images of students since we have not launched yet, but it would be good to have something &mdash; Stock images?
          %p Here are some images of the office, West Palm Beach, and around Florida. I took these and they can be used for the site, or not. RAW files available on request.
          %ul
            %li= link_to 'Image Gallery', gallery_path

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Logos
          %ul
            %li
              %a{href: 'http://primary-code.ojala.com/logo.ai'} logo.ai
            %li
              %a{href: 'http://primary-code.ojala.com/logo.pdf'} logo.pdf
            %li
              %a{href: 'http://primary-code.ojala.com/VT_Robot_Icon.pdf'} Robot

    %li.t-col.w-1-3.m-1-1
      .t-block
        .t-content
          %h2 Experimental
          = render 'nav/menu_lines'
