- content_for :main_navigation do
  %nav{role: "navigation"}
    %a{:href => '#main', :title => '', :class => 'screen-reader-text'} Skip to main content
    %ul#nav
      = nav_to 'Home', home_path
      = nav_to 'Our Programs', programs_path, title: 'See our classes' do
        %ul
          %li= link_to 'Is this for me?', for_me_path
          %li= link_to 'Tuition', tuition_path
          %li= link_to 'Front-end Bootcamp', front_end_path
          %li= link_to 'Part-time Courses', part_time_path
          %li= link_to 'Launch Program', launch_path, title: 'Launch your idea'
      = nav_to 'Apply', apply_path
      = nav_to 'Contact', contact_path
