- content_for :main_navigation do
  %a{href: '#main', class: 'screen-reader-text'} Skip to main content
  %a{href: '#sidr', id: 'menu-button', class: 'menu-button'}
    %span Menu
  -# %a{id: 'close-menu-button'} Close Menu

  .utility
    %ul
      = nav_to 'Our Programs', programs_path
      = nav_to 'Apply Now', apply_path
      = nav_to 'Contact Us', contact_path

  %nav{role: 'navigation', id: 'sidr', class: 'main-menu'}
    %ul#nav
      = nav_to 'Home', home_path
      = nav_to 'About', about_path
      = nav_to 'Our Programs', programs_path, title: 'See our classes' do
        %ul
          %li= link_to 'Is this for me?', for_me_path
          %li= link_to 'Tuition', tuition_path
          %li= link_to 'Web Development Bootcamp', web_dev_path
          %li= link_to 'Part-time Courses', part_time_path
          %li= link_to 'Summer of Code', summer_path
          %li= link_to 'Launch Program', launch_path, title: 'Launch your idea'
      = nav_to 'Employers', employers_path
      = nav_to 'Students', students_path
      = nav_to 'Alumni', alumni_path
      = nav_to 'Blog', blog_path
      = nav_to 'Apply Now', apply_path
      = nav_to 'Contact Us', contact_path

    .snail-mail
      %p.fn.org
        Ojala, Inc.
      .adr
        %p.street-address 9314 Forest Hill Blvd.
        %p.extended-address Suite 73
        %p
          %span.locality> Wellington
          ,
          %span.region Florida
          %span.postal-code 33414
    = link_to 'Apply Today', apply_path, class: 'apply'
    = render 'shared/subscribe'
