!!!
%html.no-js{lang: 'en'}
  = render 'layouts/head'
  %body{class: controller_name + '-' + action_name}
    -# FIXME ccm: Either use sticky or not.
    #wrapper.sticky
      = render 'layouts/browsehappy'
      %header{role: 'banner'}
        .container
          = render 'layouts/logo'
          = yield :main_navigation
      #main{role: 'main'}
        .container
          = yield
      = render 'layouts/footer'
    = render 'layouts/scripts'
