!!!
%html.no-js{lang: 'en'}
  = render 'layouts/head'
  %body{class: controller_name + '-' + action_name}
    = render 'layouts/browsehappy'
    .container
      .wrapper
        %header{role: 'banner'}
          = render 'layouts/logo'
          = yield :main_navigation
        = yield :hero
    #main{role: 'main'}
      .container
        = yield
    .container= render 'layouts/footer'
    = render 'layouts/scripts'
