!!!
%html.no-js{lang: 'en'}
  = render 'layouts/head'
  %body{class: controller_name + '-' + action_name}
    = render 'layouts/gtm'
    = render 'layouts/browsehappy'
    .container.shadow
      .wrapper
        %header{role: 'banner'}
          = render 'layouts/logo'
          = yield :main_navigation
        = yield :hero
      #main{role: 'main'}
        = yield
      = render 'layouts/footer'
    = render 'layouts/scripts'
